In [11]:
#type
s=('ajay','nandu',5,'teja',1,2,3,8)
print(type(s))

<class 'tuple'>

In [14]:
#len
s=('ajay','nandu',5,'teja',1,2,3,8)
k=len(s)
k

8

In [17]:
#max
s=('ajay','nandu','teja')
k=max(s)
k

'teja'

In [18]:
#min
s=('ajay','nandu','teja')
k=min(s)
k

'ajay'

In [22]:
#sum
s=(5,2,7,8,3)
j=(1,2,3,4,5)
k=sum(s+j)
k

40

In [31]:
# sorted()
s=('ajay','wandu','teja')
k=sorted(s)
k

['ajay', 'teja', 'wandu']

In [41]:
# reverse using slicing
s=('ajay','nandu','teja')
k=s[::-1]
k

('teja', 'nandu', 'ajay')

In [49]:
# in
a = (1, 2, 'apple', 'banana', True)
print('apple' in a)

True

In [48]:
#for loop with in
f = (1, 2, 'apple', 'banana', True)
for i in f:
    print(i)

1
2
apple
banana
True

In [56]:
#index
b = (1, 2, 'apple', 'banana', True)
s=b.index('apple')
s

2

In [63]:
#for loop with index
b = (1, 2, 'apple', 'banana', True)
for i in range(len(b)):
    print(i)

0
1
2
3
4

In [69]:
#immutable
b = (1, 2, 'apple', 'banana', True)
s=b[3]
s

'banana'

In [71]:
#slicing
b = (1, 2, 'apple', 'banana', True)
s=b[1:4]
s

(2, 'apple', 'banana')

In [73]:
#concatenation
s=(1,2,3,4,5)
a=(5,7,6,89,4)
add=s+a
add

(1, 2, 3, 4, 5, 5, 7, 6, 89, 4)

In [84]:
#count()
b = (1, 2, 'apple', 'banana',1)
b.count(1)

2

In [88]:
#index()
b = (1, 2, 'apple', 'banana',1)
b.index('apple')

2